services:
  dcperf:
    build:
      context: .
      dockerfile: imgs/dcperf/Dockerfile
      network: host
      args:
        DOCKER_BUILDKIT: 0
    container_name: dcperf
    privileged: true
    working_dir: /opt/dcperf
    tty: true
    volumes:
      - /sys:/sys:ro
      - /dev:/dev
